/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 ene 2021, 12:19:00
    Author     : Ricardo Alberto
*/


.formularioDatosApoyo{
    margin-top:32px;
    margin-bottom:32px;
    padding: 20px;
    background-color:#fff;
    border-radius:5px;
}