/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 ene 2021, 16:19:52
    Author     : Ricardo Alberto
*/

body{ 
    background-color:#98d16f;
}

.formularioIngBenef{
    margin-top: 122px;
    padding: 30px;
    background-color:#fff;
    border-radius:5px;
}
