/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 ene 2021, 17:11:04
    Author     : Ricardo Alberto
*/

.navBarGeneral{
    background-color:#3fbaa0;    
}

.textoNavBarGeneral{
    font-family:sans-serif;
    font-size:20px;
    font-weight: bolder;
    color:#fff;
    margin:13px;
}

.textoNavBarGeneral:hover{
    color: #24420f;
}

